body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight:400;
}

.container {
    height: 450px;
    width: 450px;
    background-color: white;
    margin-top: 120px;
    border-radius: 30px;
} 

h1{
    color: hsl(234, 29%, 20%);
    font-size: 700;
    font-size: 50px;
    padding-left: 45px;
    margin-bottom: 0px;
}

img{
    padding-left: 45px;
    padding-top: 40px;
}
 
p {
    color: hsl(234, 29%, 20%);
    padding-left: 45px;
    padding-right: 40px;
    margin-bottom: 30px;
}

.dismiss-btn {
    width: 90%;
    display: flex;
    justify-content: center;
}

button {
    font-size: 16px;
    color: white;
    border-radius: 10px;
    background-color: hsl(234, 29%, 20%);
    height: 50px;
    width: 350px;
    margin-left: 50px;
    border-color: transparent;
}

button:hover {
    font-size: 17px;
    background-color: Tomato;
    transform: scale(1.02);
}

@media (max-width: 768px) {
    button{
        margin-left: 26px;
    }
}
